h1 {
    text-align: center;
}

body {
    background-color:brown;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: blue;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

a:hover{
    background-color : red;
}
  
h1{
    font-style: oblique;

    color: rgb(32, 34, 95);
    text-align: center;

  }

  h2 {
    font-style: oblique;
    color: rgb(32, 26, 75);
    text-align: center;
  }

.link-button:hover {
    background-color: #b4acac;
}

#enlace:hover {
    color: #f2f2f2;
}

#enlaceTexto:hover {
    color: #259f9f;
}
.descripcion{
    display: flex;
}
.carta{
    width: 50%;
    margin: 5px;
}
.carta img{
    margin: 30px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
}