h1 {
    text-align: center;
}

body {
    background-color:blue;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: rgb(113, 113, 185);
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
h1{
    font-style: oblique;
    color: rgb(32, 34, 95);
    text-align: center;

  }

  h2 {
    font-style: oblique;
    color: rgb(32, 26, 75);
    text-align: center;
  }

.link-button:hover {
    background-color: #b4acac;
}



#enlaceTexto:hover {
    color: #259f9f;
}
    